.steps {
  counter-reset: listNumbering;
  list-style: none;
  margin-left: 0;
}

.steps .step {
  position: relative;
  font-size: 1em;
  counter-increment: listNumbering;
}
.steps h2 {
  display: inline-block;
  margin-left: 30px;
}
.steps div {
  margin: 1em 0 1em 3em;
}
.step img {
  margin: 1em;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}

.steps .step:before {
  content: counter(listNumbering) '-';
  position: absolute;
  display: inline-block;
  left: 0;
  margin: 10px 0;
  line-height: 40px;
  font-size: 30px;
  font-weight: bold;
}
