body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.checkboxes {
  float: left;
  margin: 100px 0 0 20px;
}

.times,
.periods {
  height: 600px;
}
.time,
.period {
  position: absolute;
  display: block;
  list-style: none;
  margin: 0;
  width: 100%;
  padding: 0;
}

.timetable {
  position: relative;
  padding-left: 50px;
  float: left;
  margin: 0 auto;
}
  section {
    overflow: hidden;
    margin: 0 auto;
  }
    .times {
      left: 0;
      top: 60px;
      position: absolute;
      width: 100%;
      margin: 0;
      padding: 0;
    }
      .time {
        border-top: 1px solid #aaa;
        font-size: 10px;
      }
        .time time {
          display: block;
          text-align: right;
          width: 50px;
        }

    .day {
      float: left;
    }
      .day h3 {
        font-size: 20px;
        text-align: center;
      }

      .periods {
        position: relative;
        width: 120px;
        margin: 0;
        padding: 0;
      }
        .period {
          position: absolute;
          background-color: #AAA;
        }
        .period.selected {
          background-color: black;
          color: white;
        }
          .period h4 {
            margin: 3px;
            font-size: 12px;
          }


