{% set hour_height = 10 -%}
{% set start_time = 9 -%}
{% set colors = 9 -%}


<!doctype html>
<html>
  <head>
    <title>Timetable</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/timetable.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.min.css" rel="stylesheet">
  </head>
  <body>

    <div class="container">

      <form action="/timetable.ics" method="GET">
        <input type="hidden" name="item" value="{{ item }}">
        <input type="hidden" name="type" value="{{ type }}">

        <div class="section">
          <div class="timetable">

            <ul class="times">
            {% for time in range(start_time, start_time + 10) %}
              <li class="time" style="height:{{ hour_height }}%; top:{{ (time - start_time) * hour_height }}%;">
                <span>{{ time }}:00</span>
              </li>
            {% endfor %}
            </ul>

            {% for day in days %}
            <div class="day">
              <h3>{{ day.name }}</h3>
              <ul class="periods">
              {% for period in day.periods %}
                <li class="period" style="height:{{ period["duration"]["hours"] * hour_height + period["duration"]["mins"] / 60 * hour_height }}%; top: {{ (period["start"]["hours"] - start_time) * hour_height + period["start"]["mins"] / 60 * hour_height }}%;" data-module="{{ period["name"] }}">
                  <h4>{{ period["name"] }}</h4>
                </li>
              {% endfor %}
              </ul>
            </div>
            {% endfor %}

          </div>

          <div class="checkboxes hidden-phone">
            <ul>
            {% for moduleName in modules.keys() %}
              <li class="module">
                <label><input type="checkbox" name="modules" value="{{ moduleName }}"{% if moduleName in selectedModules %} checked=checked{% endif %}> {{ moduleName }}</label>
              </li>
            {% endfor %}
            </ul>
          </div>
        </div>

        <button class="btn btn-primary" type="submit">Submit</button>

      </form>
    </div>
    <script src="js/jquery-1.8.2.min.js"></script>
    <script>

      (function() {
        var timetable = $("#timetable"),
          days = $(".day"),
          times = $(".times"),
          modules = $(".module input"),
          form = $("form"),
          doc = $(document);


        function getUrl(form) {
          var params = "";

          function addParam(input) {
            params += (params ? "&" : "?") + input.attr("name") + "=" + input.val();
          }

          form.find("input, select").each(function() {
            var input = $(this);

            switch(input.attr("type")) {
              case "checkbox":
                if(input.is(":checked")) addParam(input);
                break;
              default:
                addParam(input);
                break;
            }
          });

          return form.attr("action") + params;
        }

        window.getUrl = getUrl;

        modules.each(function() {
          function update(e) {
            checkbox.is(":checked") ?
              moduleClasses.addClass("selected"):
              moduleClasses.removeClass("selected");
          };

          function toggle() {
            checkbox.attr("checked", !checkbox.is(":checked"));
            update();
          }

          var checkbox = $(this).on("change", update),
            moduleClasses = $("[data-module=\"" + checkbox.val() + "\"]").on("click", toggle);

          update();
        });



      })();


    </script>

  </body>
</html>